@charset "UTF-8";
#login-form {
	position: absolute;
	top: 30px;
	right: 50px;
	font-size: 18px;
	text-align: center;
}

#login-form input {
	height: 25px;
	border-radius: 15px;
	border: 1px solid #000;
	padding-left: 10px;
}

#login-form a {
	color: #000;
	margin-top: 0px;
	line-height: 30px;
}

#login-form button {
	line-height: 20px;
	border-radius: 5px;
	font-weight: bold;
	border: 1px solid #000;
	vertical-align: middle;
}

#login-form button:hover {
	cursor: pointer;
	background: #fff;
}

#language select {
	width: 75px;
	padding-left: 20px;
}

#language select:hover {
	cursor: pointer;
}

#language option:hover {
	cursor: pointer;
}
.fogot-col{
	text-align: right;
}
.formButton{
	text-align: center !important;
}
.formButton input:hover{
	cursor: pointer;
}